{% extends 'base.html' %}

{% block body %}

<div style="background-image: url('/static/image/img.jpg');height: 100%;  background-position: center;
background-repeat: no-repeat;
background-size: cover;">
<br>
<br>
<br>
<h2 style="margin-right: 50%;margin-left: 10px; font-family: Times New Roman;">YOLOv5</h2>
<br>
<div style="margin-right: 50%;margin-left: 10px;">
<h3 style="font-family: Times New Roman; text-align: justify;">Detecting medical drug tablets using YOLO (You Only Look Once) involves training a deep learning model on a dataset containing annotated images of various tablets. The process begins with dataset preparation, where images of tablets are collected and annotated to indicate the location of each tablet. The model is then trained using the annotated dataset until it achieves satisfactory performance. Finally, the trained model can be deployed in applications or systems for real-time tablet detection, adhering to legal and ethical guidelines regarding medical data usage.</h3>
</div>
</div>

{% endblock %}